{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block form_top %}
    <script>
        var data_json = JSON.parse("{{ data_parse|escapejs }}");
    </script>
    <label for="querys">選擇平台:</label>
    <select name="querys" id="querys">
        {% for query in data_list %}
            <option value="{{ query.pk }}">{{ query.code }}</option>
        {% endfor %}
    </select>
    <button type="button" id="import">導入</button>
    <script src="{% static 'js/add_form.js' %}"></script>
{% endblock %}
