{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}
{% load db_extras %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/changelists.css" %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.13.1/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "js/jquery-ui-1.13.1/jquery-ui.min.css" %}">

    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    {% endif %}
    {% if cl.formset or action_form %}
        <script src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
            &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
        </div>
    {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    {% change_list_object_tools %}
                {% endblock %}
            </ul>
        {% endblock %}
        {% if cl.formset and cl.formset.errors %}
            <p class="errornote">
                {% if cl.formset.total_error_count == 1 %}{% translate "Please correct the error below." %}{% else %}
                    {% translate "Please correct the errors below." %}{% endif %}
            </p>
            {{ cl.formset.non_form_errors }}
        {% endif %}
        <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
            <div class="changelist-form-container">
                {% block search %}{% search_form cl %}{% endblock %}
                {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}

                {#                <button class="archive_button" id="updateDetails">批次修改</button>#}
                <button class="download_button"><a href="{% url 'admin:downloadfile' %}">下載</a></button>
                <button class="archive_button" id="archive" value="{{ platform }}">打包</button>
                {#                <button id="downloadJSON" class="download_button"><a href="http://172.30.7.250:8080/AppConfigs/android-new-native/config.json"  download="config.json">Download AppConfigs</a></button>#}

                <dialog class="list_dialog" id="uploadDialog">
                    <form action="upload_img/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div style="text-align: center"><p id="uploadDialog_title">456</p></div>
                        <script>
                            var data_json = JSON.parse("{{ data_parse|escapejs }}");
                        </script>
                        <label for="querys">選擇平台:</label>
                        <select name="querys" id="querys">
                            {% for query in data_list %}
                                <option value="{{ query.pk }}">{{ query.code }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" id="import">複製</button><p id="copy-message" style="color: #0d6efd"></p>
                        {{ form.as_p }}
                        <button class="cancel-button" id="cancelUpload" type="button">取消</button>
                        <button class="upload-button" id="sumitUpload" type="submit" name="upload" value="">Upload</button>
                    </form>
                </dialog>

                <!-- tools actions -->
                <form id="archive_form" action="post_tools/" method="POST"
                        {% if cl.formset and cl.formset.is_multipart %}
                      enctype="multipart/form-data"{% endif %} novalidate>
                    {% csrf_token %}
                    <dialog class="list_dialog" id="archive_dialog">
                        <span>平台:</span>
                        <div class="selected_versions">
                            <p class="p-versions"></p>
                        </div>
                        <div id="choice_block">
                            <div>
                                <input type="checkbox" id="ios" name="do-ios">
                                <label for="ios" id="ios-label-text">iOS</label>
                            </div>
                            <div>
                                <input type="checkbox" id="android" name="do-android">
                                <label for="android" id="android-label-text">Android</label>
                            </div>
                            <br>
                            <label for="ios-opts">iOS版號：</label>
                            <select name="ios_version" id="ios-opts">
                                {% for opt in ios_opts %}
                                    <option value="{{ opt }}">{{ opt }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <label for="android-opts">Android版號：</label>
                            <select name="android_version" id="android-opts">
                                {% for opt in android_opts %}
                                    <option value="{{ opt }}">{{ opt }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <menu>
                            <li>
                                <input id="archive_dialog_close" type="submit" name="buttonAction" value="cancel">
                                <button class="archive_button" id="archiveBtn" type="submit" name="buttonAction"
                                        value="archive">開始打包
                                </button>
                            </li>
                        </menu>
                    </dialog>
                    <br>
                    <br>
                    <br>
                    <div id="click__modal" style="display:none;">請先勾選平台。</div>

                    {% if cl.formset %}
                        <div>{{ cl.formset.management_form }}</div>
                    {% endif %}

                    {% block result_list %}
                        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                        {% result_list cl %}
                        {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                            {% admin_actions %}{% endif %}
                    {% endblock %}
                    {% block pagination %}{% pagination cl %}{% endblock %}
                </form>
            </div>
            {% block filters %}
                {% if cl.has_filters %}
                    <div id="changelist-filter">
                        <h2>{% translate 'Filter' %}</h2>
                        {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
                            <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
                        </h3>{% endif %}
                        {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/dialog.js' %}"></script>
    <script src="{% static 'js/results.js' %}"></script>
{% endblock %}
