.archive_button {
    border: none;
    color: white;
    border-radius: 4px;
    background-color: orangered;
    height: 35px;
}

div.selected_versions {
    max-height: 60px;
    overflow: scroll;
}
.download_button {
    border: none;
    color: white;
    border-radius: 4px;
    background-color: #7fffff;
    height: 35px;
}

.list_dialog {
    background-color: lightgoldenrodyellow;
    border-width: 1px;
    border-radius: 4px;
    z-index: 5;
}

.results {
    position: relative;
    max-width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 600px;
}

.results thead th {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.results th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
}

.results tbody td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
}

.results th:nth-child(2) {
    position: -webkit-sticky;
    position: sticky;
    left: 32px;
    z-index: 2;
}

.results thead th:first-child, .results thead th:nth-child(2) {
    z-index: 5;
}

li {
    display:inline;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.cancel-button {
    background-color: red;
    color: white;
    border-radius: 4px;
    border-width: 0;
    height: 30px;
}
.upload-button {
    background-color: forestgreen;
    color: white;
    border-radius: 4px;
    border-width: 0;
    height: 30px;
}