table,td {
    border: 1px solid black;
    border-collapse: collapse;
}

html,body { margin: 0; padding: 0; height: 100%;}

.topView {
    position: relative;
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    padding: 10px;
}

.topView button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    right: 20%;
    width: 100px;
    height: 30px;
}

.menu {
    width: 10%;
    height: 100%;
    text-align: center;
    float: left;
}

.list {
    background-color: lemonchiffon;
    float: left;
}

.td_header {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}