<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load db_extras %}


<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/list.css' %}>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>
<body>
<div class="topView">
    <h2>{{ AppName }}.</h2>
    <button><a style="color: white" href="{% url 'admin:index' %}">後台入口</a></button>
</div>
{#    {{ 'hello world!' | cut:" " }}#}
<div class="container-fluid">
    <div class="row">
        <div class="col-1" style="text-align: center">
            {% for key, value in platforms.items %}
                <a href="{% url 'list' %}?{{ key }}" >{{ value }}</a><br>
            {% endfor %}
        </div>
        <div class="col">
            <div class="list">
                <table style="width: 100%">
                    {% for hh in header %}
                        <td class="td_header">{{ hh }}</td>
                    {% endfor %}
                    {% for obj in data_list %}
                        <tr>
                            <td style="width: 100px">{{ obj.code }}</td>
                            <td style="width: 200px; text-align: center">{{ obj.ios_appname }}</td>
                            <td style="width: 200px; text-align: center">{{ obj.android_appname }}</td>
                            <td style="width: 150px; text-align: center">{{ obj.android_version }}</td>
                            <td style="width: 150px; text-align: center">{{ obj.ios_version }}</td>
                            <td>{{ obj.ios_app_id }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>